meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Received deliverables
link(rel="stylesheet", href="Receiveddeliverables.css")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Inter:wght@400;600;700;800&display=swap", rel="stylesheet")
.outline
  #upper.
    
    Recieved deliverables
    
  #lower
    #hello Monica Talpade: Received deliverables
    .innerbox
      .content
        p Wohoo!
        p You have received the requested deliverables from (counselor name)
        p Take a moment to review the same and approve the delivery if you are satisfied otherwise you can ask for a revision.!
      .btncontainer
        button.btn(type="submit") View Deliverables