meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title New Mail
link(rel="stylesheet", href="newmail.css")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Inter:wght@400;600;700;800&display=swap", rel="stylesheet")
.outline
  #upper.
    
    New Message!
    
  #lower
    #hello Monica Talpade: New message
    .innerbox
      .content
        p You have a new message from your counselor [Monica Talpade].Check out the message and respond as per required.
      .btncontainer
        button.btn(type="submit") View Message