meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Order Received
link(rel="stylesheet", href="orderrecieved.css")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Inter:wght@400;600;700;800&display=swap", rel="stylesheet")
.outline
  #upper.
    
    Order Recieved
    
  #lower
    #hello (user name): Order Received
    .innerbox
      .content
        p Hello!You recently recieved an order from (user name).
        p Kindly begin with the service and show them your expertise by providing the best service that you're known for :)
      .btncontainer
        button.btn(type="submit") View Order