meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Missed Review
link(rel="stylesheet", href="missedreview.css")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Inter:wght@400;600;700;800&display=swap", rel="stylesheet")
.outline
  #upper.
    
    You missed a review!
    
  #lower
    #hello Monica Talpade: Sent deliverables
    .innerbox
      .content
        p Hello!you recently received the deliverables from (counselor name).
        p.
          Please leave a review for them, it would give them a boost and will be able to serve clients better.
          
        p Your word really matters to us!Speak it out:)
      .btncontainer
        button.btn(type="submit") Make review
        button.btn(type="submit") View delivery